<div class="common-container">
    <div class="content-wrapper">
        <h4 class="mb-4">Album List</h4>

        <!-- Show spinner when loading -->
        <app-spinner [overlay]="true" message="Loading data..." *ngIf="loading"></app-spinner>

        <!-- Show content when not loading -->
        <div class="row m-0 gap-2">
            <div class="col-md-4">
                <app-search 
                    searchPlaceholder="Search Albums" 
                    [initialValue]="searchTerm"
                    (search)="onSearch($event)">
                </app-search>
            </div>
            <div class="col-md-2">
                <app-sort 
                    [sortOptions]="sortOptions" 
                    [initialValue]="getSortValue()"
                    (sort)="onSort($event)">
                </app-sort>
            </div>
        </div>
        <ng-container *ngIf="!loading">
            <!-- No data message -->
            <div *ngIf="albums.length === 0" class="alert alert-info text-center mt-4" role="alert">
                <i class="bi bi-info-circle me-2"></i>
                No albums found. Try adjusting your search criteria.
            </div>

            <!-- Albums grid -->
            <div class="row g-4 m-0" *ngIf="albums.length > 0">
                <a href="javascript:;" class="col-md-6 col-lg-3 cursor-pointer text-decoration-none" *ngFor="let album of albums" (click)="onAlbumClick(album.id)">
                    <div class="album-card card h-100">
                        <div class="card-body">
                            <h6 class="card-title text-truncate mb-3">{{album.title}}</h6>
                            <div class="album-preview d-flex">
                                <div class="preview-box bg-primary"></div>
                                <div class="preview-box bg-danger mx-2"></div>
                                <div class="preview-box bg-info"></div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <small class="text-muted cursor-cell" [routerLink]="['/profile', album.userId]" (click)="$event.stopPropagation()" (keydown.enter)="onUserClick(album.userId)" [attr.aria-label]="'View details of user: ' + album.title"  tabindex="0"
                                role="button">User ID: {{album.userId}}</small>
                                <div>
                                    <i class="bi bi-folder-fill me-2"></i>
                                    <i class="bi bi-person-fill cursor-cell" [routerLink]="['/profile', album.userId]" (click)="$event.stopPropagation()" (keydown.enter)="onUserClick(album.userId)" [attr.aria-label]="'View details of user: ' + album.title"  tabindex="0"
                                    role="button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Pagination -->
            <div class="d-flex justify-content-center mt-4" *ngIf="albums.length > 0">
                <ngb-pagination
                    [collectionSize]="totalItems"
                    [(page)]="currentPage"
                    [pageSize]="itemsPerPage"
                    [maxSize]="5"
                    [ellipses]="false"
                    [boundaryLinks]="true"
                    (pageChange)="onPageChange($event)">
                </ngb-pagination>
            </div>
        </ng-container>
    </div>
</div>
