<div class="common-container">
  <div class="content-wrapper">
    <h4 class="mb-4">Photo List</h4>

    <!-- Show spinner when loading -->
    <app-spinner [overlay]="true" message="Loading data..." *ngIf="loading"></app-spinner>
   
    <div class="row m-0 gap-2">
      <div class="col-md-4">
        <app-search 
          searchPlaceholder="Search Photos"
          [initialValue]="searchTerm"
          (search)="onSearch($event)">
        </app-search>
      </div>
      <div class="col-md-2">
        <app-sort 
          [sortOptions]="sortOptions"
          [initialValue]="getSortValue()"
          (sort)="onSort($event)">
        </app-sort>
      </div>
    </div>

    <ng-container *ngIf="!loading">
      <!-- No data message -->
      <div *ngIf="photos.length === 0" class="alert alert-info text-center mt-4" role="alert">
        <i class="bi bi-info-circle me-2"></i>
        No photos found. Try adjusting your search criteria.
      </div>

      <!-- Photo grid -->
      <div class="row g-4 m-0" *ngIf="photos.length > 0">
        <div class="col-md-6 col-lg-3" *ngFor="let photo of photos">
          <div class="card h-100 cursor-pointer" (click)="onPhotoClick(photo.id)" (keydown.enter)="onPhotoClick(photo.id)" [attr.aria-label]="'View details of photo: ' + photo.title"  tabindex="0"
          role="button">

            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <a [href]="photo.url" target="_blank" class="text-primary">
                        <i class="bi bi-link-45deg"></i>
                    </a>
                </div>
                <h6 class="card-title text-truncate mb-2" [title]="photo.title">
                    {{ photo.title }}
                </h6>
            </div>
            <div *ngIf="photo?.loading" class="position-absolute top-50 start-50 translate-middle">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <img [src]="photo.thumbnailUrl" 
            [alt]="photo.title"
            class="img-fluid rounded card-img-top" 
            (error)="imageUtils.handleImageError($event)"
            (load)="photo.loading = false"
            [ngStyle]="{'opacity': photo.loading ? '0' : '1'}">
            
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="d-flex justify-content-center mt-4" *ngIf="photos.length > 0">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="currentPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [ellipses]="false"
          [boundaryLinks]="true"
          (pageChange)="onPageChange($event)">
        </ngb-pagination>
      </div>
    </ng-container>
  </div>
</div>
